# Ignore virtual environments
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore model checkpoints or large temp files
*.pkl
*.h5
*.ckpt

# Ignore notebook checkpoints
.ipynb_checkpoints/
data/

# Ignore OS-specific files
.DS_Store
Thumbs.db

#node /next.js  build artifacts 
node_modules/
.next/
